html {
    font-size: 14px;
}

body {
    /* background-image: url(../images/bg-sage-01.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top left; */

    background: lightblue url(../images/bg-sage-01.jpg) no-repeat fixed top center;

}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.container {
    max-width: 960px;
}

.pricing-header {
    max-width: 700px;
}

.card-deck .card {
    min-width: 220px;
}

section {
    min-height: 300px;
}